# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
.env/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Python-specific cache
*.egg-info/
.eggs/
*.egg
*.whl

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Streamlit cache
.streamlit/
